<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="list">
    <input type="text" v-model="message" v-on:keyup.enter="array.push(message)">
    <!-- <button v-on:click="array.push(message)"> add to list</button> -->
    <ul >
        <li v-for="(i,index) in array">{{index}}.{{i}} <button v-on:click="array.splice(index,1)"> x</button>
        </li>

    </ul>
</div>
    <script src="vue.js"></script>
    <script>
    var listing= new Vue(
        {
            el:"#list",
            data:{
                message:"d",
                array:[
                           "a" ,
                           "b"
                        ]
            }
        }
    )
    </script>
</body>

</html>